@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist), Arial, Helvetica, sans-serif;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
